select {
  -webkit-appearance: none;
  background: no-repeat right 20px center / auto url(media/select.svg);
  display: block;
  width: 100%;
  padding: 16px;
  font-size: 11px;
  line-height: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
