:root {
  --swiper-theme-color: #{$gray};
  --swiper-navigation-size: 17px;
}

.swiper {
  &-lazy {
    opacity: 0;

    &-loaded {
      opacity: 1;
    }

    &-preloader {
      animation: swiper-preloader-spin 1s infinite linear;
    }
  }

  &-button {
    &-prev {
      left: -40px;
    }

    &-next {
      right: -40px;
    }
  }
}
