.cart-grid {
  padding: 60px 0;

  .row {
    justify-content: center;
  }

  &__title {
    margin-bottom: 60px;
  }

  &__labels {
    display: none;
  }

  &__label {
    margin-bottom: 0;
  }

  &__items {
    display: grid;
    gap: 24px;
    margin-bottom: 36px;
  }

  &__total {
    display: grid;
    gap: 24px;
    margin-bottom: 36px;

    &__label {
      margin-bottom: 0;
    }

    &__price {
      color: $faded;
      font-size: 24px;
      line-height: 26px;
      letter-spacing: 2px;
    }
  }

  @include breakpoint(sm up) {
    &__labels {
      display: grid;
      grid-template-columns: 1fr 120px 120px 120px;
      align-items: center;
      gap: 24px;
      margin-bottom: 36px;
    }

    &__total {
      align-items: center;
      justify-content: end;
      grid-template-columns: 120px 120px 120px;
    }
  }

  @include breakpoint(lg up) {
    padding: 100px 0;
  }
}
