.home-hero {
  &__slider {
    position: relative;
  }

  &__slide {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15% 0;
  }

  &__background {
    @include background;
    z-index: -1;
  }

  &__title {
    color: $white;
  }

  @include breakpoint(lg up) {
    &__title {
      width: 50%;
    }
  }

  @include breakpoint(xl up) {
    &__title {
      width: 33.33%;
    }
  }
}
