.nav {
  padding: 24px 0;
  border-top: 1px solid rgba($gray, 0.15);

  &__list {
    @include reset-list;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 48px;
    width: 100%;
  }

  &__link {
    font-size: 11px;
    line-height: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}
