.product-hero {
  padding: 40px 0;

  .row {
    align-items: center;
  }

  &__slider {
    .swiper {
      &-pagination {
        position: static;
        padding: 24px 0;
      }
    }
  }

  &__image {
    background-color: $beige;
    width: 100%;
    aspect-ratio: 1 / 1.25;
    padding: 20px;
    object-fit: contain;
    object-position: center;
    transition: all 0.25s;
    cursor: pointer;

    &:hover {
      background-color: $creme;
    }
  }

  @include breakpoint(sm up) {
    &__thumbs {
      position: relative;
      padding: 46px 0;

      .swiper {
        padding: calc(125% + 25px) 0;

        &-slide {
          opacity: 0.5;

          &-thumb {
            &-active {
              opacity: 1;
            }
          }
        }

        &-button {
          &-prev,
          &-next {
            margin: 0;
            left: 50%;
            right: unset;
            transform: translateX(-50%) rotate(90deg);
          }

          &-prev {
            top: 0;
            bottom: unset;
          }
  
          &-next {
            top: unset;
            bottom: 0;
          }
        }
      }
    }

    &__thumb {
      background-color: $beige;
      width: 100%;
      aspect-ratio: 1 / 1.25;
      padding: 20px;
      object-fit: contain;
      object-position: center;
      transition: all 0.25s;
      cursor: pointer;
  
      &:hover {
        background-color: $creme;
      }
    }

    &__slider {
      .swiper {
        &-pagination {
          display: none;
        }
      }
    }
  }
}
