h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  font-family: $header-font-family;
}

h1, .h1 {
  margin-bottom: 24px;
  font-size: 28px;
  line-height: 34px;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center;

  @include breakpoint(sm up) {
    margin-bottom: 46px;
    font-size: 36px;
    line-height: 48px;
  }
}

h2, .h2 {
  width: fit-content;
  padding-bottom: 6px;
  border-bottom: 1px solid $pink;
  margin: 0 auto 24px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

h3, .h3 {
  width: fit-content;
  padding-bottom: 6px;
  border-bottom: 1px solid $pink;
  margin-bottom: 16px;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h4, .h4 {
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
