*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-family: $body-font-family;
    color: $gray;
    display: flex;
    flex-flow: column;
}

figure,
p {
    margin: 0 0 24px;
}

img,
svg,
video {
    display: block;
    max-width: 100%;
    margin: 0;
    transition: opacity 0.2s;
}

a {
    text-decoration: none;
    color: currentColor;
}

a,
button {
    cursor: pointer;

    &,
    &:hover,
    &:active {
        transition-duration: 0.2s;
    }
}

section {
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: red;
}
