.row {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;

  .row {
    margin-right: calc($gap / -2);
    margin-left: calc($gap / -2);
    width: auto;
  }

  &.#{$column-name} {
    display: block;
  }

  &--collapse {
    > .#{$column-name} {
      padding: 0;
    }
  }
}

.#{$column-name} {
  position: relative;
  width: 100%;
  padding-right: calc($gap / 2);
  padding-left: calc($gap / 2);
}

@each $item in $breakpoints {
  $index: index($breakpoints, $item);
  $br: nth($item, 1);

  @include breakpoint($br up) {
    .row {
      padding-right: nth($paddings, $index)+px;
      padding-left: nth($paddings, $index)+px;
    }

    .#{$br}-auto {
      width: auto;
    }

    .#{$br}-centered {
      margin-right: auto;
      margin-left: auto;
    }

    .#{$br}-hidden {
      display: none;
    }

    .#{$br}-visible {
      display: block;
    }
  }

  @for $i from 0 through $columns {
    @include breakpoint($br up) {
      .#{$br}-#{$i} {
        width: calc($i / $columns * 100%);
      }

      .#{$br}-#{$offset-name}-#{$i} {
        margin-left: calc($i / $columns * 100%);
      }
    }
  }
}
