@function rem($size) {
  $remSize: $size / $base-font-size;
  @return #{$remSize}rem;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin breakpoint($data) {
  $point: nth($data, 1);
  $direction: nth($data, 2);
  $max: false;
  $min: false;
  $first: false;
  $last: false;
  $value: false;

  @each $item in $breakpoints {
    $name: nth($item, 1);
    $index: index($breakpoints, $item);

    @if $name == $point {
      $value: $item;
    }
  }

  @if $value == false {
    $value: $point;
  }

  @if $value == between {
    $value: 0;
    $min: nth($data, 2);
    $max: nth($data, 3);
  }

  @if length($value) > 1 {
    @if $direction == up {
      $number: nth($value, 2);
      $min: if($number, $number, false);
    } @else if $direction == down {
      $number: nth($value, 2);
      $max: if($number, $number, false);
    } @else if $direction == only {
      $number1: nth($value, 2);
      $number2: nth($value, 3);

      $min: if($number1, $number1, false);
      $max: if($number2, $number2, false);
    }
  } @else {
    @if $direction == up {
      $min: $value;
    } @else if $direction == down {
      $max: $value;
    }
  }

  @if $min and $max {
    @media all and (min-width: #{$min}px) and (max-width: #{$max}px) {
      @content;
    }
  } @else if $min {
    @media all and (min-width: #{$min}px) {
      @content;
    }
  } @else if $max {
    @media all and (max-width: #{$max}px) {
      @content;
    }
  } @else if $max == false {
    @content;
  }
}

@mixin flexible($firstWrapOn, $per, $from, $to) {
  @for $i from $from to $to {
    @include breakpoint(#{$firstWrapOn - ($i - 1)*$per} down) {
      max-width: $per*($to - $i)+px;
    }
  }
}

@mixin background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
