// Grid
$max-width: 1680px;
$gap: 40px;
$columns: 12;
$breakpoints: xs false 600, sm 600 900, md 900 1200, lg 1200 1500, xl 1500 false;
$column-name: "column";
$offset-name: "offset";

// Spaces
$paddings: 0 20 40 80 80;

// Typo
$base-font-size: 16px;
$base-line-height: 1.25;
$body-font-family: 'Archivo', 'Helvetica', 'Arial', sans-serif;
$header-font-family: $body-font-family;

// Colors
$black: #000000;
$white: #FFFFFF;
$pink: #F3B4A7;
$green: #1E7918;
$faded: #527D78;
$beige: #F3F8F7;
$creme: #FDFAF9;

$gray: #3D4D4C;
