.button {
  background-color: $pink;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  border: none;
  border-radius: 1px;
  color: $white;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;

  &--alt {
    background-color: transparent;
    border: 1px solid $white;
  }

  &[disabled] {
    opacity: 0.5;
    cursor: initial;
  }
}
