.cart-item {
  display: grid;
  align-items: center;
  gap: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba($gray, 0.15);

  &__link {
    position: relative;
    display: block;
  }

  &__image {
    background-color: $beige;
    width: 100%;
    aspect-ratio: 1 / 1.25;
    padding: 20px;
    object-fit: contain;
    object-position: center;
    transition: all 0.25s;

    &:hover {
      background-color: $creme;
    }
  }

  &__name {
    margin-bottom: 0;
  }

  &__quantity {
    margin-bottom: 0;
  }

  &__price {
    margin-bottom: 0;
    color: $faded;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 2px;
  }

  @include breakpoint(sm up) {
    grid-template-columns: 120px 1fr 120px 120px 120px;
  }
}
