.menu {
  &__title {
    margin-bottom: 39px;
  }

  &__list {
    @include reset-list;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
  }

  &__link {
    color: rgba($gray, 0.75);
    font-size: 12px;
    line-height: 18px;
  }
}
