.product {
  display: grid;
  margin-bottom: 40px;

  &__link {
    position: relative;
    display: block;
    margin-bottom: 24px;
  }

  &__image {
    background-color: $beige;
    width: 100%;
    aspect-ratio: 1 / 1.25;
    padding: 20px;
    object-fit: contain;
    object-position: center;
    transition: all 0.25s;

    &:hover {
      background-color: $creme;
    }
  }

  &__price {
    color: rgba($faded, 0.5);
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 1px;
  }
}
