.variant {
  display: grid;
  margin: 24px 0 40px;

  &__name {
    margin: 0 0 24px;
  }

  &__price {
    color: rgba($faded, 0.5);
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 1px;
  }

  &__link {
    display: block;
    margin-bottom: 24px;
  }

  &__option {
    margin-bottom: 34px;

    &__name {
      margin-bottom: 20px;
      font-size: 11px;
      line-height: 12px;
      font-weight: 400;
      letter-spacing: 2px;
    }

    &__grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 1fr;
      gap: 8px;
    }

    &__radio {
      position: absolute;
      visibility: hidden;
    }

    &__label {
      display: block;
      border-radius: 4px;
      overflow: hidden;
      cursor: pointer;

      &--active {
        border: 1px solid $faded;
      }
    }

    &__image {
      background-color: $beige;
      width: 100%;
      aspect-ratio: 1 / 1.25;
      padding: 20px;
      object-fit: contain;
      object-position: center;
      transition: all 0.25s;
  
      &:hover {
        background-color: $creme;
      }  
    }
  }

  &__description {
    margin-bottom: 36px;
    color: rgba($gray, 0.75);
    font-size: 14px;
    line-height: 24px;
  }
}
